.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.shiftInfo{
  border: 1px solid grey;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.riepilogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info > p {
  font-size: large;
}

.shiftInfo:hover {
  transform: translateY(-3px);
}



.button{
    margin-top: 5%;
    width: 97vw;
    padding: 5%;
    font-size: 4vh;
    /*the alpha value controls the transparency*/
    background: rgba( 255, 255, 255, 0.3 );

    /* This controls the blurring effect*/
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );

    /*Adding the shadow*/
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );

    /* Adding our borders*/
    border-radius: 25px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 4;
}
.desktopButton{
  width: 20vw;
}

.green {
  background-color: #4CAF50; /* verde */
}

.orange {
  background-color: #FF9800; /* arancione */
}

.red {
  background-color: #F44336; /* rosso */
}